
body{
    margin: 0;
    
}
.menu1 {
    width: 100%;
    background-color: rgb(6, 80, 122);
}
#btn_menu{
    display: none;
}

.menu1 label{
    display: none;
    width: 10%;
    height: 10%;
    padding: 10px;

}

.menu1 label:hover{
    cursor: pointer;
    background-color: rgba(92, 171, 224, 0.986);
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.menu li{
    border-right: 1px solid #FFF;
}
.menu li:hover{
    background-color: rgb(20, 72, 92);
}

.menu li a {
    display: block;
    padding:  15px 20px;
    color: #FFF;
    text-decoration: none;
}


/*resposive */
@media screen and  (max-width: 767px){
    .menu1 label{
        display: block;
    }
    .menu {
        position: absolute;
        background-color: black;
        width: 70%;
        margin-left: -70%;
        /*height: 50%;*/
        margin: 0;
        position: fixed;
    }
    
    .menu ul {
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #FFF;
    }
    
    .cuerpo{
        width: 100%;
        margin: auto, 0px;
    }
    
    #inicio{
        width: 100%;
    }
    


    
}

.cuerpo{
    width: 80%;
    height: 800px;
    background-color: antiquewhite;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;

}

#inicio1{
   background-color: rgba(84, 186, 218, 0.795);
   margin-top: 7%;
   margin-left: 20%;
   margin-right: 20%;
   position: absolute;
   width: 60%;
   height: 50%;
   
}
.categorias{
    margin-top: 800px;
    background-color: black;
    width: 80%;
}
#sec_categorias1{
    background-color: blueviolet;
    width: 50%;
    height: 400px;
    margin-top: 800px;
    position: absolute;
}
#sec_categorias2{
    background-color: rgb(216, 83, 83);
    width: 50%;
    margin-left: 50%;
    height: 400px;
    margin-top: 800px;
    position: absolute;
}
